{% extends 'base.html.twig' %}

{% block title %}Признак для класса{% endblock %}

{% block body %}
    <h1>Признак для класса</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ kl_pr.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('kl_pr_index') }}">Назад к списку</a>

    <a href="{{ path('kl_pr_edit', {'id': kl_pr.id}) }}">Изменить</a>

    {{ include('kl_pr/_delete_form.html.twig') }}
{% endblock %}
