{% extends 'base.html.twig' %}

{% block title %}Редактировать артефакты{% endblock %}

{% block body %}
    <h1>Редактировать артефакты</h1>

    {{ include('artefacts/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{ path('artefacts_index') }}">Назад</a>

    {{ include('artefacts/_delete_form.html.twig') }}
{% endblock %}
