{% extends 'base.html.twig' %}
{% block title %}Manage Account!{% endblock %}
{% block body %}
    {{ include('header.html.twig') }}

    <main class="container-fluid">
        <div class="row">
            <aside class="col-md-3 col-lg-2 bg-white pt-3">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/artefacts">Мои артефакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/guest">Классифицировать артефакт</a>
                    </li>

                </ul>
            </aside>
            <section class="col-md-9 col-lg-10 p-3" role="main">
                {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
            </section>
        </div>
    </main>

{% endblock %}