{% extends 'base.html.twig' %}

{% block title %}Новый артефакт{% endblock %}

{% block body %}
    <h1>Добавить артефакт</h1>

    {{ include('artefacts/_form.html.twig') }}

    <a href="{{ path('artefacts_index') }}">Назад</a>
{% endblock %}
