{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{asset('css/s4.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/animate.css')}}">

    <style type="text/css">
        div{
            font-family: 'Fjalla One', sans-serif;
        }
        li {
            font-family: 'Fjalla One', sans-serif;
            background: rgba(0,170,238,0.5);
        }
        body{
            width: 100%;
            position: relative;
            background-size: cover;
            height: auto;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/wow.min.js')}}"></script>
    <script>
        new WOW().init();
    </script>

{% endblock %}

{% block content %}
    <head>
        <!— Required meta tags —>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}WELCOME{% endblock %}</title>
    </head>

    {% block body %}
        <div class="two" >

            <h1>WELCOME</h1></div>

        <a href="/farfor/expert" class="btn btn-warning btn-lg">Эксперт</a>
        <a href="/artefacts" class="btn btn-warning btn-lg">Пользователь</a>

    {% endblock %}
{% endblock %}