{% extends 'base.html.twig' %}

{% block title %}Новый класс{% endblock %}

{% block body %}
    <h1>Создать новый класс</h1>

    {{ include('klas/_form.html.twig') }}

    <a href="{{ path('klas_index') }}">back to list</a>
{% endblock %}
