<form method="post" action="{{ path('prizna_area_delete', {'id': prizna_area.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить запись?');">
    <input type="hidden" name="_method" value="Удалить">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prizna_area.id) }}">
    <button class="btn">Удалить</button>
</form>
