{% extends 'base.html.twig' %}

{% block title %}Изменение значения{% endblock %}

{% block body %}
    <h1>Изменение значения</h1>

    {{ include('prizna_area/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{ path('prizna_area_index') }}">Назад к списку</a>

    {{ include('prizna_area/_delete_form.html.twig') }}
{% endblock %}
