{% extends 'base.html.twig' %}

{% block title %}New PriznaArea{% endblock %}

{% block body %}
    <h1>Create new PriznaArea</h1>

    {{ include('prizna_area/_form.html.twig') }}

    <a href="{{ path('prizna_area_index') }}">back to list</a>
{% endblock %}
