{% extends 'base.html.twig' %}

{% block title %}Новое значение{% endblock %}

{% block body %}
    <h1>Создать нвоое значение</h1>

    {{ include('prizna_area/_form.html.twig') }}

    <a href="{{ path('prizna_area_index') }}">Назад к списку</a>
{% endblock %}
