<form method="post" action="{{ path('zn_pr_delete', {'id': zn_pr.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ zn_pr.id) }}">
    <button class="btn">Delete</button>
</form>
