<form method="post" action="{{ path('zn_pr_delete', {'id': zn_pr.id}) }}" onsubmit="return confirm('Вы дейтсвительно хотите удалить запись?');">
    <input type="hidden" name="_method" value="Удалить">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ zn_pr.id) }}">
    <button class="btn">Удалить</button>
</form>
