{% extends 'base.html.twig' %}

{% block title %}Новое значение для признака{% endblock %}

{% block body %}
    <h1>Создать новое значение для признака</h1>

    {{ include('zn_pr/_form.html.twig') }}

    <a href="{{ path('zn_pr_index') }}">back to list</a>
{% endblock %}
