<form method="post" action="{{ path('prizn_delete', {'id': prizn.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить запись?');">
    <input type="hidden" name="_method" value="Удалить">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prizn.id) }}">
    <button class="btn">Удалить</button>
</form>
