{% extends 'base.html.twig' %}

{% block title %}Изменение признака{% endblock %}

{% block body %}
    <h1>Изменение признака</h1>

    {{ include('prizn/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{ path('prizn_index') }}">Назад к списку</a>

    {{ include('prizn/_delete_form.html.twig') }}
{% endblock %}
