{% extends 'base.html.twig' %}

{% block title %}Новый признак{% endblock %}

{% block body %}
    <h1>Создать новый признак</h1>

    {{ include('prizn/_form.html.twig') }}

    <a href="{{ path('prizn_index') }}">back to list</a>
{% endblock %}
