{% extends 'base.html.twig' %}

{% block title %}New Prizn{% endblock %}

{% block body %}
    <h1>Create new Prizn</h1>

    {{ include('prizn/_form.html.twig') }}

    <a href="{{ path('prizn_index') }}">back to list</a>
{% endblock %}
