{% block subject %}
  {% autoescape false %}
    Регистрация
  {% endautoescape %}
{% endblock %}

{% block body_text %}
{% endblock %}

{% block body_html %}
  Регистрация прошла успешно!<br>
  <a href="{{ url }}">{{ url }}</a>
{% endblock %}
